<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto" style="height: 400px;">
      <%= image_tag('professionals', style: 'width: 200px; margin-left: -960px;') %>
      
      <h4 style='margin-top: -270px; margin-left: -100px; width: 500px; text-align: justify;'>
        <%= t('texts.text_apresentation') %>
      </h4>
      
      <%= image_tag('348d8eb52f61ce9c6c5afc66287be232', style: ' margin-top: -140px; margin-left: 330px; width: 500px; transform: rotate(-35deg);' ) %>

      <%= image_tag('f2ec0fdb5e8c51da5061543c9923c3c2-nuvem-m--o-desenhada-caneta-de-feltro-01-by-vexels', style: 'margin-top: -220px; margin-left: -700px;') %>

      <%= image_tag('f2ec0fdb5e8c51da5061543c9923c3c2-nuvem-m--o-desenhada-caneta-de-feltro-01-by-vexels', style: 'margin-top: -215px; margin-left: -200px;') %>
      
      <%= image_tag('f2ec0fdb5e8c51da5061543c9923c3c2-nuvem-m--o-desenhada-caneta-de-feltro-01-by-vexels', style: 'margin-top: -220px; margin-left: -200px;') %>
    </div>
    
  </div>
</div>